<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>Cashew</string><key>1_hn</key><string>काजू</string><key>1_ta</key><string>முந்திரி</string><key>1_kn</key><string>ಗೋಡಂಬಿ (Gōḍambi)</string><key>1_te</key><string></string><key>1_bn</key><string>হিজলি বাদাম</string><key>1_mr</key><string></string>
<key>2_en</key><string>Peanut</string><key>2_hn</key><string>मूँगफली</string><key>2_ta</key><string>வேர்க்கடலை</string><key>2_kn</key><string>ಕಡಲೆಕಾಯಿ (Kaḍalekāyi)</string><key>2_te</key><string></string><key>2_bn</key><string>চিনাবাদাম</string><key>2_mr</key><string></string>
<key>3_en</key><string>Walnut</string><key>3_hn</key><string>अखरोट</string><key>3_ta</key><string>வாதுமைக்கொட்டை</string><key>3_kn</key><string>ಅಕ್ರೋಡ (Akroad)</string><key>3_te</key><string></string><key>3_bn</key><string>আখরোট</string><key>3_mr</key><string></string>
<key>4_en</key><string>Almond</string><key>4_hn</key><string>बादाम</string><key>4_ta</key><string>பாதாம்</string><key>4_kn</key><string>ಬಾದಾಮಿ (Bādāmi)</string><key>4_te</key><string></string><key>4_bn</key><string>বাদাম</string><key>4_mr</key><string></string>
<key>5_en</key><string>Date</string><key>5_hn</key><string>खजूर</string><key>5_ta</key><string>தேதி</string><key>5_kn</key><string>ದಿನಾಂಕ (Dināṅka)</string><key>5_te</key><string></string><key>5_bn</key><string>খেজুর</string><key>5_mr</key><string></string>
</dict>
</plist>
