<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>Baboon</string><key>1_hn</key><string>लंगूर</string><key>1_ta</key><string>பெருங்குரங்கு</string><key>1_kn</key><string>ದಕ್ಶಿಣ ಏಷಿಯಾ ಖ೦ಡದ ಮ೦ಗ</string><key>1_te</key><string></string><key>1_bn</key><string></string><key>1_mr</key><string>मोठा वानर </string>
<key>2_en</key><string>Bear</string><key>2_hn</key><string>भालू</string><key>2_ta</key><string>கரடி</string><key>2_kn</key><string>ಕರಡಿ</string><key>2_te</key><string></string><key>2_bn</key><string>ভালুক</string><key>2_mr</key><string>अस्वल</string>
<key>3_en</key><string>Buffalo</string><key>3_hn</key><string>भैंसा</string><key>3_ta</key><string>எருமை</string><key>3_kn</key><string>ಎಮ್ಮೆ</string><key>3_te</key><string></string><key>3_bn</key><string>মহিষ</string><key>3_mr</key><string>म्हैस</string>
<key>4_en</key><string>Cow</string><key>4_hn</key><string>गाय</string><key>4_ta</key><string>மாடு</string><key>4_kn</key><string>ಹಸು</string><key>4_te</key><string></string><key>4_bn</key><string>গরু</string><key>4_mr</key><string>गाय</string>
<key>5_en</key><string>Tiger</string><key>5_hn</key><string>बाघ</string><key>5_ta</key><string>புலி</string><key>5_kn</key><string>ಹುಲಿ</string><key>5_te</key><string></string><key>5_bn</key><string>বাঘ</string><key>5_mr</key><string>वाघ</string>
<key>6_en</key><string>Deer</string><key>6_hn</key><string>हिरन</string><key>6_ta</key><string>மான்</string><key>6_kn</key><string>ಜಿಂಕೆ</string><key>6_te</key><string></string><key>6_bn</key><string>হরিণ</string><key>6_mr</key><string></string>
<key>7_en</key><string>Dog</string><key>7_hn</key><string>कुत्ता</string><key>7_ta</key><string>நாய்</string><key>7_kn</key><string>ನಾಯಿ</string><key>7_te</key><string></string><key>7_bn</key><string>কুকুর</string><key>7_mr</key><string></string>
<key>8_en</key><string>Elephant</string><key>8_hn</key><string>हाथी</string><key>8_ta</key><string>யானை</string><key>8_kn</key><string>ಆನೆ</string><key>8_te</key><string></string><key>8_bn</key><string>হাতি</string><key>8_mr</key><string></string>
<key>9_en</key><string>Lion</string><key>9_hn</key><string>सिंह</string><key>9_ta</key><string>சிங்கம்</string><key>9_kn</key><string>ಸಿಂಹ</string><key>9_te</key><string></string><key>9_bn</key><string>সিংহ</string><key>9_mr</key><string></string>
<key>10_en</key><string>Cat</string><key>10_hn</key><string>बिल्ली</string><key>10_ta</key><string>பூனை</string><key>10_kn</key><string>ಬೆಕ್ಕು</string><key>10_te</key><string></string><key>10_bn</key><string>বিড়াল</string><key>10_mr</key><string></string>
<key>11_en</key><string>Giraffe</string><key>11_hn</key><string>जिराफ़</string><key>11_ta</key><string>ஒட்டகச்சிவிங்கி</string><key>11_kn</key><string>ಜಿರಾಫೆ</string><key>11_te</key><string></string><key>11_bn</key><string>জিরাফ</string><key>11_mr</key><string></string>
<key>12_en</key><string>Camel</string><key>12_hn</key><string>ऊंट</string><key>12_ta</key><string>ஒட்டகம்</string><key>12_kn</key><string>ಒಂಟೆ</string><key>12_te</key><string></string><key>12_bn</key><string>উট</string><key>12_mr</key><string></string>
<key>13_en</key><string>Donkey</string><key>13_hn</key><string>गदहा</string><key>13_ta</key><string>கழுதை</string><key>13_kn</key><string>ಕತ್ತೆ</string><key>13_te</key><string></string><key>13_bn</key><string>গাধা</string><key>13_mr</key><string></string>
<key>14_en</key><string>Fox</string><key>14_hn</key><string>लोमड़ी</string><key>14_ta</key><string>நரி</string><key>14_kn</key><string>ನರಿ</string><key>14_te</key><string></string><key>14_bn</key><string>শিয়াল</string><key>14_mr</key><string></string>
<key>15_en</key><string>Goat</string><key>15_hn</key><string>बकरी</string><key>15_ta</key><string>ஆடு</string><key>15_kn</key><string>ಮೇಕೆ</string><key>15_te</key><string></string><key>15_bn</key><string>ছাগল</string><key>15_mr</key><string></string>
<key>16_en</key><string>hippopotamus</string><key>16_hn</key><string>दरियाई घोड़ा</string><key>16_ta</key><string>நீர்யானை</string><key>16_kn</key><string>ನೀರು ಕುದುರೆ</string><key>16_te</key><string></string><key>16_bn</key><string>জলহস্তী</string><key>16_mr</key><string></string>
<key>17_en</key><string>Horse</string><key>17_hn</key><string>घोडा</string><key>17_ta</key><string>குதிரை</string><key>17_kn</key><string>ಕುದುರೆ</string><key>17_te</key><string></string><key>17_bn</key><string>ঘোড়া</string><key>17_mr</key><string></string>
<key>18_en</key><string>Kangaroo</string><key>18_hn</key><string>कंगारू</string><key>18_ta</key><string>கங்காரு</string><key>18_kn</key><string>ಕಾಂಗರೂ</string><key>18_te</key><string></string><key>18_bn</key><string>ক্যাঙ্গারু</string><key>18_mr</key><string></string>
<key>19_en</key><string>Rat</string><key>19_hn</key><string>चूहा</string><key>19_ta</key><string>எலி</string><key>19_kn</key><string>ಇಲಿ</string><key>19_te</key><string></string><key>19_bn</key><string>ইঁদুর</string><key>19_mr</key><string></string>
<key>20_en</key><string>Pig</string><key>20_hn</key><string>सुअर</string><key>20_ta</key><string>பன்றி</string><key>20_kn</key><string>ಹಂದಿ</string><key>20_te</key><string></string><key>20_bn</key><string>শূকর</string><key>20_mr</key><string></string>
<key>21_en</key><string>Rabbit</string><key>21_hn</key><string>खरगोश</string><key>21_ta</key><string>முயல்</string><key>21_kn</key><string>ಮೊಲ</string><key>21_te</key><string></string><key>21_bn</key><string>খরা</string><key>21_mr</key><string></string>
<key>22_en</key><string>Rhinoceros</string><key>22_hn</key><string>गैंडा</string><key>22_ta</key><string>காண்டாமிருகம்</string><key>22_kn</key><string>ಘೇಂಡಾಮೃಗ</string><key>22_te</key><string></string><key>22_bn</key><string>গণ্ডার</string><key>22_mr</key><string></string>
<key>23_en</key><string>Sheep</string><key>23_hn</key><string>भेड़</string><key>23_ta</key><string>ஆடு</string><key>23_kn</key><string>ಕುರಿ</string><key>23_te</key><string></string><key>23_bn</key><string>ভেড়া</string><key>23_mr</key><string></string>
<key>24_en</key><string>Squirrel</string><key>24_hn</key><string>गिलहरी</string><key>24_ta</key><string>அணில்</string><key>24_kn</key><string>ಅಳಿಲು</string><key>24_te</key><string></string><key>24_bn</key><string>কাঠবিড়াল</string><key>24_mr</key><string></string>
<key>25_en</key><string>Wolf</string><key>25_hn</key><string>भेड़िया</string><key>25_ta</key><string>ஓநாய்</string><key>25_kn</key><string>ತೋಳ</string><key>25_te</key><string></string><key>25_bn</key><string>নেকড়ে</string><key>25_mr</key><string></string>
<key>26_en</key><string>armadillo</string><key>26_hn</key><string>वर्मी</string><key>26_ta</key><string>நல்லங்கு </string><key>26_kn</key><string>ಆರ್ಮಡಿಲೊ</string><key>26_te</key><string></string><key>26_bn</key><string>সাঁজোয়া জাহাজ</string><key>26_mr</key><string></string>
<key>27_en</key><string>Wildebeest</string><key>27_hn</key><string>अफ्रीकी बारहसिंघा </string><key>27_ta</key><string></string><key>27_kn</key><string></string><key>27_te</key><string></string><key>27_bn</key><string>নু-হরিণ</string><key>27_mr</key><string></string>
<key>28_en</key><string>Yak</string><key>28_hn</key><string>चमरी गौ</string><key>28_ta</key><string>கவரிமா</string><key>28_kn</key><string>ಚಮರೀಮೃಗ</string><key>28_te</key><string></string><key>28_bn</key><string>চমর</string><key>28_mr</key><string></string>
<key>29_en</key><string>Zebra</string><key>29_hn</key><string>ज़ेबरा</string><key>29_ta</key><string>ஆப்ரிக்க மான்</string><key>29_kn</key><string>ಜೀಬ್ರಾ</string><key>29_te</key><string></string><key>29_bn</key><string>জেব্রা</string><key>29_mr</key><string></string></dict>
</plist>
