<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>Wrist</string><key>1_hn</key><string>कलाई</string><key>1_ta</key><string>மணிக்கட்டு</string><key>1_kn</key><string>ಮಣಿಕಟ್ಟಿನ (Maṇikaṭṭina)</string><key>1_te</key><string></string><key>1_bn</key><string>কব্জি</string><key>1_mr</key><string></string>
<key>2_en</key><string>Fingernail</string><key>2_hn</key><string>नाखून</string><key>2_ta</key><string>நகம்</string><key>2_kn</key><string>ಉಗುರು (Uguru)</string><key>2_te</key><string></string><key>2_bn</key><string>নখ</string><key>2_mr</key><string></string>
<key>3_en</key><string>Thumb</string><key>3_hn</key><string>अंगूठा</string><key>3_ta</key><string>கட்டைவிரல்</string><key>3_kn</key><string>ಹೆಬ್ಬೆರಳು (Hebberaḷu)</string><key>3_te</key><string></string><key>3_bn</key><string>অঙ্গুষ্ঠ</string><key>3_mr</key><string></string>
<key>4_en</key><string>Index Finger</string><key>4_hn</key><string>तर्जनी</string><key>4_ta</key><string>ஆள்காட்டி விரல்</string><key>4_kn</key><string>ತೋರು ಬೆರಳು (Tōru beraḷu)</string><key>4_te</key><string></string><key>4_bn</key><string>তর্জনী</string><key>4_mr</key><string></string>
<key>5_en</key><string>Middle Finger</string><key>5_hn</key><string>बीच की ऊँगली</string><key>5_ta</key><string>நடுவிரல</string><key>5_kn</key><string>ಮಧ್ಯಮ ಬೆರಳು (Madhyama beraḷu)</string><key>5_te</key><string></string><key>5_bn</key><string>মধ্যমা</string><key>5_mr</key><string></string>
<key>6_en</key><string>Ring Finger</string><key>6_hn</key><string>अनामिका</string><key>6_ta</key><string> மோதிரவிரல்</string><key>6_kn</key><string></string><key>6_te</key><string></string><key>6_bn</key><string>অনামা</string><key>6_mr</key><string></string>
<key>7_en</key><string>Little Finger</string><key>7_hn</key><string>कानी अँगुली</string><key>7_ta</key><string>சுண்டுவிரல்</string><key>7_kn</key><string></string><key>7_te</key><string></string><key>7_bn</key><string>কনিষ্ট আঙ্গুল</string><key>7_mr</key><string></string>
<key>8_en</key><string>Palm</string><key>8_hn</key><string>हथेली</string><key>8_ta</key><string>உள்ளங்கி</string><key>8_kn</key><string></string><key>8_te</key><string></string><key>8_bn</key><string>করতল</string><key>8_mr</key><string></string>
</dict>
</plist>
