<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_en</key>
	<string>Baboon</string>
	<key>2_en</key>
	<string>Bear</string>
	<key>3_en</key>
	<string>Buffalo</string>
	<key>4_en</key>
	<string>Cow</string>
	<key>5_en</key>
	<string>Tiger</string>
	<key>6_en</key>
	<string>Ants</string>
	<key>7_en</key>
	<string>Butterfly</string>
	<key>8_en</key>
	<string>Bee</string>
	<key>9_en</key>
	<string>Scorpion</string>
	<key>10_en</key>
	<string>Beetle</string>
	<key>11_en</key>
	<string>Alligator</string>
	<key>12_en</key>
	<string>Chameleons</string>
	<key>13_en</key>
	<string>Lizard</string>
	<key>14_en</key>
	<string>Anaconda</string>
	<key>15_en</key>
	<string>Python</string>
	<key>16_en</key>
	<string>Owl</string>
	<key>17_en</key>
	<string>Vulture</string>
	<key>18_en</key>
	<string>Parrot</string>
	<key>19_en</key>
	<string>Eagle</string>
	<key>20_en</key>
	<string>Ostrich</string>
	<key>21_en</key>
	<string>SeaHorse</string>
	<key>22_en</key>
	<string>Shark</string>
	<key>23_en</key>
	<string>GoldFish</string>
	<key>24_en</key>
	<string>JellyFish</string>
	<key>25_en</key>
	<string>StarFish</string>
	<key>1_hn</key>
	<string>लंगूर</string>
	<key>2_hn</key>
	<string>भालू</string>
	<key>3_hn</key>
	<string>भैंसा</string>
	<key>4_hn</key>
	<string>गाय</string>
	<key>5_hn</key>
	<string>बाघ</string>
	<key>6_hn</key>
	<string>चींटियों</string>
	<key>7_hn</key>
	<string>तितली</string>
	<key>8_hn</key>
	<string>मधुमक्खी</string>
	<key>9_hn</key>
	<string>बिच्छू</string>
	<key>10_hn</key>
	<string>भौंरा</string>
	<key>11_hn</key>
	<string>मगर</string>
	<key>12_hn</key>
	<string>गिरगिट</string>
	<key>13_hn</key>
	<string>छिपकली</string>
	<key>14_hn</key>
	<string>एनाकोंडा</string>
	<key>15_hn</key>
	<string>अजगर</string>
	<key>16_hn</key>
	<string>उल्लू</string>
	<key>17_hn</key>
	<string>गिद्ध</string>
	<key>18_hn</key>
	<string>तोता</string>
	<key>19_hn</key>
	<string>चील</string>
	<key>20_hn</key>
	<string>शुतुरमुर्ग</string>
	<key>21_hn</key>
	<string>समुद्री घोड़े</string>
	<key>22_hn</key>
	<string>शार्क मछली</string>
	<key>23_hn</key>
	<string>ज़र्द मछली</string>
	<key>24_hn</key>
	<string>जेलीफ़िश</string>
	<key>25_hn</key>
	<string>सितारा  मछली</string>
	<key>1_ta</key>
	<string>பெருங்குரங்கு</string>
	<key>2_ta</key>
	<string>கரடி</string>
	<key>3_ta</key>
	<string>எருமை</string>
	<key>4_ta</key>
	<string>மாடு</string>
	<key>5_ta</key>
	<string>புலி</string>
	<key>6_ta</key>
	<string>எறும்புகள்</string>
	<key>7_ta</key>
	<string>பட்டாம்பூச்சி</string>
	<key>8_ta</key>
	<string>தேனி</string>
	<key>9_ta</key>
	<string>தேள்</string>
	<key>10_ta</key>
	<string>வண்டு</string>
	<key>11_ta</key>
	<string>முதலை</string>
	<key>12_ta</key>
	<string>பச்சோந்தி</string>
	<key>13_ta</key>
	<string>பல்லி</string>
	<key>14_ta</key>
	<string>அனகோண்டா பாம்பு</string>
	<key>15_ta</key>
	<string>மலைப்பாம்பு</string>
	<key>16_ta</key>
	<string>ஆந்தை</string>
	<key>17_ta</key>
	<string>கழுகு</string>
	<key>18_ta</key>
	<string>கிளி</string>
	<key>19_ta</key>
	<string>கழுகு</string>
	<key>20_ta</key>
	<string>தீக்கோழி</string>
	<key>21_ta</key>
	<string>கடல் குதிரை</string>
	<key>22_ta</key>
	<string>சுறா</string>
	<key>23_ta</key>
	<string>தங்கமீன்</string>
	<key>24_ta</key>
	<string>ஜெல்லி மீன்</string>
	<key>25_ta</key>
	<string>நட்சத்திர மீன்</string>
	<key>1_kn</key>
	<string>ದಕ್ಶಿಣ ಏಷಿಯಾ ಖ೦ಡದ ಮ೦ಗ</string>
	<key>2_kn</key>
	<string>ಕರಡಿ</string>
	<key>3_kn</key>
	<string>ಎಮ್ಮೆ</string>
	<key>4_kn</key>
	<string>ಹಸು</string>
	<key>5_kn</key>
	<string>ಹುಲಿ</string>
	<key>6_kn</key>
	<string>ಇರುವೆಗಳು</string>
	<key>7_kn</key>
	<string>ಚಿಟ್ಟೆ</string>
	<key>8_kn</key>
	<string>ಜೇನು ನೊಣ</string>
	<key>9_kn</key>
	<string>ಚೇಳು</string>
	<key>10_kn</key>
	<string>ಜೀರುಂಡೆ</string>
	<key>11_kn</key>
	<string>ಮೊಸಳೆ</string>
	<key>12_kn</key>
	<string>ಊಸರವಳ್ಳಿ</string>
	<key>13_kn</key>
	<string>ಹಲ್ಲಿ</string>
	<key>14_kn</key>
	<string>ಅನಕೊಂಡ</string>
	<key>15_kn</key>
	<string>ಹೆಬ್ಬಾವು</string>
	<key>16_kn</key>
	<string>ಗೂಬೆ</string>
	<key>17_kn</key>
	<string>ರಣಹದ್ದು</string>
	<key>18_kn</key>
	<string>ಗಿಣಿ</string>
	<key>19_kn</key>
	<string>ಹದ್ದು</string>
	<key>20_kn</key>
	<string>ಆಸ್ಟ್ರಿಚ್</string>
	<key>21_kn</key>
	<string>ನೀರ್ಗುದುರೆ</string>
	<key>22_kn</key>
	<string>ಶಾರ್ಕ್</string>
	<key>23_kn</key>
	<string>ಚಿನ್ನದ ಮೀನು</string>
	<key>24_kn</key>
	<string>ಜೆಲ್ಲಿ ಮೀನು</string>
	<key>25_kn</key>
	<string>ನಕ್ಷತ್ರ ಮೀನು</string>
</dict>
</plist>
