<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>SubMarine</string><key>1_hn</key><string>पनडुब्बी</string><key>1_ta</key><string>நீர் முழுகிக் கப்பல்</string><key>1_kn</key><string>ನೌಕೆ (Nauke)</string><key>1_te</key><string></string><key>1_bn</key><string>সমুদ্রগর্ভস্থ</string><key>1_mr</key><string></string>
<key>2_en</key><string>Ship</string><key>2_hn</key><string>जहाज</string><key>2_ta</key><string>கப்பல்</string><key>2_kn</key><string>ಜಲಾಂತರ್ಗಾಮಿ(Jalāntargāmi)</string><key>2_te</key><string></string><key>2_bn</key><string>জাহাজ</string><key>2_mr</key><string></string>
<key>3_en</key><string>Yacht</string><key>3_hn</key><string>क्रीड़ा नौका</string><key>3_ta</key><string>உலாப்படகு</string><key>3_kn</key><string>ದೋಣಿ (Dōṇi)</string><key>3_te</key><string></string><key>3_bn</key><string>ইয়ট</string><key>3_mr</key><string></string>
<key>4_en</key><string>Boat</string><key>4_hn</key><string>नाव</string><key>4_ta</key><string>படகு</string><key>4_kn</key><string>ಹಡಗು (Haḍagu)</string><key>4_te</key><string></string><key>4_bn</key><string>নৌকা</string><key>4_mr</key><string></string>
<key>5_en</key><string>Canoe</string><key>5_hn</key><string>डोंगी</string><key>5_ta</key><string>சிறு படகு</string><key>5_kn</key><string>ಓಡ (Ōḍa)</string><key>5_te</key><string></string><key>5_bn</key><string>শাল্তি</string><key>5_mr</key><string></string>
<key>6_en</key><string>Jet ski</string><key>6_hn</key><string>जेट स्की</string><key>6_ta</key><string>படகுப்</string><key>6_kn</key><string></string><key>6_te</key><string></string><key>6_bn</key><string>জেট স্কি</string><key>6_mr</key><string></string>
<key>7_en</key><string>HydroPlane</string><key>7_hn</key><string>जल विमान</string><key>7_ta</key><string>நீரடி கப்பல்தளம்</string><key>7_kn</key><string></string><key>7_te</key><string></string><key>7_bn</key><string>হাইড্রোপ্লেন</string><key>7_mr</key><string></string>
<key>8_en</key><string>Raft</string><key>8_hn</key><string>बेड़ा</string><key>8_ta</key><string>மிதவைப்பாறை</string><key>8_kn</key><string></string><key>8_te</key><string></string><key>8_bn</key><string>ভেলা</string><key>8_mr</key><string></string>
</dict>
</plist>
