<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>Owl</string><key>1_hn</key><string>उल्लू</string><key>1_ta</key><string>ஆந்தை</string><key>1_kn</key><string>ಗೂಬೆ</string><key>1_te</key><string></string><key>1_bn</key><string>পেঁচা</string><key>1_mr</key><string>घुबड</string>
<key>2_en</key><string>Vulture</string><key>2_hn</key><string>गिद्ध</string><key>2_ta</key><string>கழுகு</string><key>2_kn</key><string>ರಣಹದ್ದು</string><key>2_te</key><string></string><key>2_bn</key><string>শকুনি</string><key>2_mr</key><string>गिधाड</string>
<key>3_en</key><string>Parrot</string><key>3_hn</key><string>तोता</string><key>3_ta</key><string>கிளி</string><key>3_kn</key><string>ಗಿಣಿ</string><key>3_te</key><string></string><key>3_bn</key><string>তোতাপাখি</string><key>3_mr</key><string>पोपट</string>
<key>4_en</key><string>Eagle</string><key>4_hn</key><string>चील</string><key>4_ta</key><string>கழுகு</string><key>4_kn</key><string>ಹದ್ದು</string><key>4_te</key><string></string><key>4_bn</key><string>ঈগল</string><key>4_mr</key><string>गरूड पक्षी</string>
<key>5_en</key><string>Ostrich</string><key>5_hn</key><string>शुतुरमुर्ग</string><key>5_ta</key><string>தீக்கோழி</string><key>5_kn</key><string>ಆಸ್ಟ್ರಿಚ್</string><key>5_te</key><string></string><key>5_bn</key><string>উটপাখী</string><key>5_mr</key><string>शहामृग</string>
<key>6_en</key><string>Hen</string><key>6_hn</key><string>मुर्गी</string><key>6_ta</key><string>கோழி</string><key>6_kn</key><string>ಕೋಳಿ</string><key>6_te</key><string></string><key>6_bn</key><string>মুরগি</string><key>6_mr</key><string></string>
<key>7_en</key><string>HummingBird</string><key>7_hn</key><string>चिड़ियों</string><key>7_ta</key><string>ரீங்கார சிட்டு</string><key>7_kn</key><string>ಕೊರಳ ಝೇಂಕಾರದ ಹಕ್ಕಿ</string><key>7_te</key><string></string><key>7_bn</key><string>খঁজনা</string><key>7_mr</key><string></string>
<key>8_en</key><string>Kiwi</string><key>8_hn</key><string>कीवी</string><key>8_ta</key><string>கிவி </string><key>8_kn</key><string>ಕಿವಿ</string><key>8_te</key><string></string><key>8_bn</key><string>কিউই</string><key>8_mr</key><string></string>
<key>9_en</key><string>Duck</string><key>9_hn</key><string>बत्तख</string><key>9_ta</key><string>வாத்து</string><key>9_kn</key><string>ಬಾತುಕೋಳಿ</string><key>9_te</key><string></string><key>9_bn</key><string>হাঁস</string><key>9_mr</key><string></string>
<key>10_en</key><string>Bat</string><key>10_hn</key><string>चमगादड़</string><key>10_ta</key><string>வவ்வால்</string><key>10_kn</key><string>ಬಾವಲಿ</string><key>10_te</key><string></string><key>10_bn</key><string>বাদুড়</string><key>10_mr</key><string></string>
<key>11_en</key><string>Flamingo</string><key>11_hn</key><string>राजहंस</string><key>11_ta</key><string>ஃபிளமிங்கோ</string><key>11_kn</key><string>ಫ್ಲೆಮಿಂಗೊ</string><key>11_te</key><string></string><key>11_bn</key><string>মরাল</string><key>11_mr</key><string></string>
<key>12_en</key><string>Pelican</string><key>12_hn</key><string>हवासील</string><key>12_ta</key><string>கூழைக்கடா</string><key>12_kn</key><string>ನೀರ್ಗೋಳಿ</string><key>12_te</key><string></string><key>12_bn</key><string>পেলিক্যান্</string><key>12_mr</key><string></string>
<key>13_en</key><string>Penguin</string><key>13_hn</key><string>पेंगुइन</string><key>13_ta</key><string>பென்குவின்</string><key>13_kn</key><string>ಪೆಂಗ್ವಿನ್</string><key>13_te</key><string></string><key>13_bn</key><string>পেংগুইন</string><key>13_mr</key><string></string>
<key>14_en</key><string>Sparrow</string><key>14_hn</key><string>गौरैया</string><key>14_ta</key><string>குருவி</string><key>14_kn</key><string>ಗುಬ್ಬಚ್ಚಿ</string><key>14_te</key><string></string><key>14_bn</key><string>চড়ুই</string><key>14_mr</key><string></string>
<key>15_en</key><string>Stork</string><key>15_hn</key><string>सारस</string><key>15_ta</key><string>நாரை</string><key>15_kn</key><string>ಕೊಕ್ಕರೆ</string><key>15_te</key><string></string><key>15_bn</key><string>সারস</string><key>15_mr</key><string></string>
<key>16_en</key><string>Swan</string><key>16_hn</key><string>हंस</string><key>16_ta</key><string>அன்னம்</string><key>16_kn</key><string>ಹಂಸ</string><key>16_te</key><string></string><key>16_bn</key><string>রাজহাঁস</string><key>16_mr</key><string></string>
<key>17_en</key><string>Turkey</string><key>17_hn</key><string>तुर्की</string><key>17_ta</key><string>வான்கோழி</string><key>17_kn</key><string>ಟರ್ಕಿ</string><key>17_te</key><string></string><key>17_bn</key><string>তুরস্ক</string><key>17_mr</key><string></string>
<key>18_en</key><string>WoodPecker</string><key>18_hn</key><string>कठफोड़वा</string><key>18_ta</key><string> மரங்கொத்தி</string><key>18_kn</key><string>ಮರಕುಟಿಗ</string><key>18_te</key><string></string><key>18_bn</key><string>কাঠঠোকরা</string><key>18_mr</key><string></string>
<key>19_en</key><string>Quail</string><key>19_hn</key><string>बटेर</string><key>19_ta</key><string>காடை</string><key>19_kn</key><string>ಕ್ವಿಲ್</string><key>19_te</key><string></string><key>19_bn</key><string>বটের</string><key>19_mr</key><string></string>
<key>20_en</key><string>DragonFly</string><key>20_hn</key><string>पतंगा</string><key>20_ta</key><string>தும்பி </string><key>20_kn</key><string>ಡ್ರ್ಯಾಗನ್ ನೊಣ</string><key>20_te</key><string></string><key>20_bn</key><string>গয়াল-পোকা</string><key>20_mr</key><string></string>
<key>21_en</key><string>Robin</string><key>21_hn</key><string>रोबिन</string><key>21_ta</key><string>கருன்சிட்டு</string><key>21_kn</key><string>ರಾಬಿನ್</string><key>21_te</key><string></string><key>21_bn</key><string>পক্ষী</string><key>21_mr</key><string></string>
<key>22_en</key><string>Peacock</string><key>22_hn</key><string>मोर</string><key>22_ta</key><string>மயில்</string><key>22_kn</key><string>ನವಿಲು</string><key>22_te</key><string></string><key>22_bn</key><string>ময়ুর</string><key>22_mr</key><string></string>
</dict>
</plist>
