<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>EyeBrow</string><key>1_hn</key><string>भौं</string><key>1_ta</key><string>புருவம்</string><key>1_kn</key><string>ಹುಬ್ಬು (Hubbu)</string><key>1_te</key><string></string><key>1_bn</key><string>ভুরু</string><key>1_mr</key><string></string>
<key>2_en</key><string>EyeLid</string><key>2_hn</key><string>पलक</string><key>2_ta</key><string>கண் இம</string><key>2_kn</key><string>ಕಣ್ರೆಪ್ಪೆಗಳು (Kaṇreppegaḷu)</string><key>2_te</key><string></string><key>2_bn</key><string>চোখের পাতা</string><key>2_mr</key><string></string>
<key>3_en</key><string>Eyelashes</string><key>3_hn</key><string>आंख की पुतली</string><key>3_ta</key><string>கண்ணின் மணி</string><key>3_kn</key><string>ಕಣ್ಣಿನಗೊಮ್ಬೆ (Kannina gombe)</string><key>3_te</key><string></string><key>3_bn</key><string>রশ্মি</string><key>3_mr</key><string></string>
<key>4_en</key><string>Iris</string><key>4_hn</key><string>आँख की पुतली</string><key>4_ta</key><string>கருவிழி</string><key>4_kn</key><string></string><key>4_te</key><string></string><key>4_bn</key><string>আইরস</string><key>4_mr</key><string></string>
<key>5_en</key><string>Pupil</string><key>5_hn</key><string></string><key>5_ta</key><string></string><key>5_kn</key><string></string><key>5_te</key><string></string><key>5_bn</key><string>প্যূপল</string><key>5_mr</key><string></string>
</dict>
</plist>
