<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_metadata_version</key>
	<integer>1</integer>
	<key>app_menu_configurations</key>
	<array>
		<dict>
			<key>menu_key</key>
			<string>subCategory</string>
			<key>menu_title_key</key>
			<string>animal</string>
			<key>menu_order</key>
			<integer>0</integer>
			<key>menu_active</key>
			<true/>
			<key>hasSubCategory</key>
			<true/>
		</dict>
		<dict>
			<key>menu_key</key>
			<string>subCategory</string>
			<key>menu_title_key</key>
			<string>transport</string>
			<key>menu_order</key>
			<integer>1</integer>
			<key>menu_active</key>
			<false/>
			<key>hasSubCategory</key>
			<true/>
		</dict>
		<dict>
			<key>menu_key</key>
			<string>vegetable &amp; fruit</string>
			<key>menu_title_key</key>
			<string>vegetable &amp; fruit</string>
			<key>menu_order</key>
			<integer>3</integer>
			<key>menu_active</key>
			<false/>
			<key>hasSubCategory</key>
			<true/>
		</dict>
		<dict>
			<key>menu_key</key>
			<string>colour,day &amp; shape</string>
			<key>menu_title_key</key>
			<string>colour,day &amp; shape</string>
			<key>menu_order</key>
			<integer>4</integer>
			<key>menu_active</key>
			<false/>
			<key>hasSubCategory</key>
			<true/>
		</dict>
		<dict>
			<key>menu_key</key>
			<string>humanBody</string>
			<key>menu_title_key</key>
			<string>humanBody</string>
			<key>menu_order</key>
			<integer>5</integer>
			<key>menu_active</key>
			<false/>
			<key>hasSubCategory</key>
			<true/>
		</dict>
		<dict>
			<key>menu_key</key>
			<string>people &amp; relationship</string>
			<key>menu_title_key</key>
			<string>people &amp; relationship</string>
			<key>menu_order</key>
			<integer>6</integer>
			<key>menu_active</key>
			<false/>
			<key>hasSubCategory</key>
			<true/>
		</dict>
	</array>
	<key>server_configurations</key>
	<dict>
		<key>server_scheme</key>
		<string></string>
		<key>server_host_name</key>
		<string></string>
		<key>server_resource_path</key>
		<string></string>
	</dict>
</dict>
</plist>
