<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>Auto Rikshaw</string><key>1_hn</key><string>ऑटो रिक्शा</string><key>1_ta</key><string>ஆட்டோ ரிக்சா </string><key>1_kn</key><string>ಆಟೋ ರಿಕ್ಷಾ (Auto Rickshaw) </string><key>1_te</key><string></string><key>1_bn</key><string>অটো রিকশা</string><key>1_mr</key><string></string>
<key>2_en</key><string>Ambulance</string><key>2_hn</key><string>एम्बुलेंस</string><key>2_ta</key><string>முதலுதவி வண்டி</string><key>2_kn</key><string>ಆಂಬುಲೆನ್ಸ್ (Ambulance) </string><key>2_te</key><string></string><key>2_bn</key><string>অ্যাম্বুলেন্স</string><key>2_mr</key><string></string>
<key>3_en</key><string>Truck</string><key>3_hn</key><string>ट्रक</string><key>3_ta</key><string>பார வண்டி</string><key>3_kn</key><string>ಟ್ರಕ್ಕು (Trucku) </string><key>3_te</key><string></string><key>3_bn</key><string>ট্রাক</string><key>3_mr</key><string></string>
<key>4_en</key><string>Bus</string><key>4_hn</key><string>बस</string><key>4_ta</key><string>பேருந்து</string><key>4_kn</key><string>ಬಸ್ (Bus)</string><key>4_te</key><string></string><key>4_bn</key><string>বাস</string><key>4_mr</key><string></string>
<key>5_en</key><string>Van</string><key>5_hn</key><string>वैन</string><key>5_ta</key><string> வண்டி</string><key>5_kn</key><string>ವ್ಯಾನ್ (Vyan)</string><key>5_te</key><string></string><key>5_bn</key><string>ভ্যান</string><key>5_mr</key><string></string>
<key>6_en</key><string>Train</string><key>6_hn</key><string>रेलगाड़ी</string><key>6_ta</key><string>ரயில் வண்டி</string><key>6_kn</key><string>ತರಬೇತು ಮಾಡು</string><key>6_te</key><string></string><key>6_bn</key><string>রেলগাড়ি</string><key>6_mr</key><string></string>
<key>7_en</key><string>Scooter</string><key>7_hn</key><string>स्कूटर</string><key>7_ta</key><string>மிதிவண்டி</string><key>7_kn</key><string></string><key>7_te</key><string></string><key>7_bn</key><string>ভট্ভটি</string><key>7_mr</key><string></string>
<key>8_en</key><string>Car</string><key>8_hn</key><string>कार</string><key>8_ta</key><string>ஊர்தி</string><key>8_kn</key><string></string><key>8_te</key><string></string><key>8_bn</key><string>গাড়ী</string><key>8_mr</key><string></string>
<key>9_en</key><string>Bicycle</string><key>9_hn</key><string>साइकिल</string><key>9_ta</key><string>இரு சக்கர வண்டி</string><key>9_kn</key><string></string><key>9_te</key><string></string><key>9_bn</key><string>সাইকেল</string><key>9_mr</key><string></string>
<key>10_en</key><string> Motorcycle</string><key>10_hn</key><string>मोटर साइकिल</string><key>10_ta</key><string>தானி மிதிவண்டி</string><key>10_kn</key><string></string><key>10_te</key><string></string><key>10_bn</key><string>মোটরসাইকেল</string><key>10_mr</key><string></string>
<key>11_en</key><string>Tram</string><key>11_hn</key><string>ट्राम</string><key>11_ta</key><string>டிராம்</string><key>11_kn</key><string></string><key>11_te</key><string></string><key>11_bn</key><string>ট্রাম</string><key>11_mr</key><string></string>
<key>12_en</key><string>Metro Train</string><key>12_hn</key><string>मेट्रो ट्रेन</string><key>12_ta</key><string>மெட்ரோ ரயில்</string><key>12_kn</key><string></string><key>12_te</key><string></string><key>12_bn</key><string>মেট্রো ট্রেন</string><key>12_mr</key><string></string>
<key>13_en</key><string>Bullet Train</string><key>13_hn</key><string>बुलेट ट्रेन</string><key>13_ta</key><string>புல்லட் ரயில்</string><key>13_kn</key><string></string><key>13_te</key><string></string><key>13_bn</key><string>বুলেট ট্রেন</string><key>13_mr</key><string></string>
<key>14_en</key><string>Fire Engine</string><key>14_hn</key><string>आग बुझाने वाला वाहन</string><key>14_ta</key><string> தீயணைப்பு ஊர்தி</string><key>14_kn</key><string></string><key>14_te</key><string></string><key>14_bn</key><string>দমকল</string><key>14_mr</key><string></string>
<key>15_en</key><string>Police Car</string><key>15_hn</key><string>पुलिस की कार</string><key>15_ta</key><string>காவல்துரை வண்டி</string><key>15_kn</key><string></string><key>15_te</key><string></string><key>15_bn</key><string>পুলিশ গাড়ী</string><key>15_mr</key><string></string>
<key>16_en</key><string>Excavator</string><key>16_hn</key><string>खोदक मशीन</string><key>16_ta</key><string>அகழ் எந்திரம்</string><key>16_kn</key><string></string><key>16_te</key><string></string><key>16_bn</key><string>খনক</string><key>16_mr</key><string></string>
<key>17_en</key><string>Dump Truck</string><key>17_hn</key><string>डंप ट्रक</string><key>17_ta</key><string>கொட்டுப் பாரவண்டி</string><key>17_kn</key><string></string><key>17_te</key><string></string><key>17_bn</key><string>ডাম্প ট্রাক</string><key>17_mr</key><string></string>
<key>18_en</key><string>Bulldozer</string><key>18_hn</key><string>बुलडोज़र</string><key>18_ta</key><string> மண்வாரி</string><key>18_kn</key><string></string><key>18_te</key><string></string><key>18_bn</key><string>ট্র্যাক্টর</string><key>18_mr</key><string></string>
<key>19_en</key><string>Tractor</string><key>19_hn</key><string>ट्रैक्टर</string><key>19_ta</key><string>உழவு இயந்திரம்   </string><key>19_kn</key><string></string><key>19_te</key><string></string><key>19_bn</key><string>ট্র্যাক্টর</string><key>19_mr</key><string></string>
<key>20_en</key><string>Tank</string><key>20_hn</key><string>टैंक</string><key>20_ta</key><string>தொட்டி</string><key>20_kn</key><string></string><key>20_te</key><string></string><key>20_bn</key><string>ট্যাঙ্ক</string><key>20_mr</key><string></string>
</dict>
</plist>
