<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>1_en</key><string>Woman</string><key>1_hn</key><string>औरत</string><key>1_ta</key><string>பெண்</string><key>1_kn</key><string>ಮಹಿಳೆ (Mahiḷe)</string><key>1_te</key><string>పురుషుడు</string><key>1_bn</key><string>নারী</string><key>1_mr</key><string>महिला</string>
<key>2_en</key><string>Man</string><key>2_hn</key><string>मर्द</string><key>2_ta</key><string>ஆண்</string><key>2_kn</key><string>ವ್ಯಕ್ತಿ (Vyakti)</string><key>2_te</key><string></string><key>2_bn</key><string>নর</string><key>2_mr</key><string>पुरूष</string>
<key>3_en</key><string>Husband</string><key>3_hn</key><string>पति</string><key>3_ta</key><string>கணவன்</string><key>3_kn</key><string>ಗಂಡ  (ganda)</string><key>3_te</key><string></string><key>3_bn</key><string>স্বামী</string><key>3_mr</key><string>पती</string>
<key>4_en</key><string>Wife</string><key>4_hn</key><string>पत्नी</string><key>4_ta</key><string>மனைவி</string><key>4_kn</key><string>ಹೆಂಡತಿ (hendathi)</string><key>4_te</key><string></string><key>4_bn</key><string>স্ত্রী</string><key>4_mr</key><string></string>
<key>5_en</key><string>Baby</string><key>5_hn</key><string>बच्चा</string><key>5_ta</key><string>குழந்த</string><key>5_kn</key><string>ಮಗು (magu)</string><key>5_te</key><string></string><key>5_bn</key><string>শিশু</string><key>5_mr</key><string></string>
<key>6_en</key><string>Parents</string><key>6_hn</key><string>माता पिता</string><key>6_ta</key><string></string><key>6_kn</key><string></string><key>6_te</key><string></string><key>6_bn</key><string>মাতাপিতা</string><key>6_mr</key><string></string>
<key>7_en</key><string>Children</string><key>7_hn</key><string>बच्चे</string><key>7_ta</key><string></string><key>7_kn</key><string></string><key>7_te</key><string></string><key>7_bn</key><string>শিশু</string><key>7_mr</key><string></string>
<key>8_en</key><string>Boy</string><key>8_hn</key><string>लड़का</string><key>8_ta</key><string></string><key>8_kn</key><string></string><key>8_te</key><string></string><key>8_bn</key><string>ছেলে</string><key>8_mr</key><string></string>
<key>9_en</key><string>Girl</string><key>9_hn</key><string>लड़की</string><key>9_ta</key><string></string><key>9_kn</key><string></string><key>9_te</key><string></string><key>9_bn</key><string>মেয়ে</string><key>9_mr</key><string></string>
<key>10_en</key><string>GrandParent</string><key>10_hn</key><string>दादा-दादी</string><key>10_ta</key><string></string><key>10_kn</key><string></string><key>10_te</key><string></string><key>10_bn</key><string>পিতামহ</string><key>10_mr</key><string></string>
<key>11_en</key><string>GrandDaughter</string><key>11_hn</key><string>पोती</string><key>11_ta</key><string></string><key>11_kn</key><string></string><key>11_te</key><string></string><key>11_bn</key><string>নাতনী</string><key>11_mr</key><string></string>
<key>12_en</key><string>GrandSon</string><key>12_hn</key><string>पोता</string><key>12_ta</key><string></string><key>12_kn</key><string></string><key>12_te</key><string></string><key>12_bn</key><string>নাতি</string><key>12_mr</key><string></string>
</dict>
</plist>
